@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800;
  font-family: "Roboto", sans-serif;
}

.shadow-bottom {
  box-shadow: 0 7px rgb(17 24 39);
}

.shadow-bottom-gray {
  box-shadow: 0 3px rgb(107 114 128);
}

.reverseX {
  transform: scaleX(-1);
}
